:root {    
    --fs-600: 2rem;
    --fs-500: 1.35rem;
    --fs-400: 1rem;
    --col-whr: #e2e1e1;
    --col-whp: #f7e4f2;    
    --col-rd: #250427;
    --col-grn: #1ed136;
}

* {
    background-color: #000;
}


body {
    max-width: 100%;
    height: auto;
    font-size: var(--fs-400);
    color: var(--col-whp);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container {
    display: flex;
    flex-direction: column;
    
}

img {
    width: 11em;
    border-radius: .3em;
}